.navbar-brand{
	color:#000000 !important;
}
#profile-table tr td
{
	padding:5px;
}
.option  .form-control
{
	height:30px !important;
 	width : 70% !important;
	display:inline !important; margin:2px;
	vertical-align:middle !important;

}
 
 * {
  border-radius: 0 !important;
}
 